.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,2,0.2);
    width: 100%; 
    height: 100%; 
}

.modal-content {
    background-color: coral;
    margin: auto;
    padding: 20px;
    font-family: cursive;
    width: 80%;
}

.close {
    color: #1a4d91;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2 {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding-top: 140px; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,2,0.5);
    width: 100%; 
    height: 100%; 
}

.modal-content2 {
    background-color: rgb(152, 207, 24);
    margin: auto;
    padding: 20px;
    font-family: cursive;
    width: 90%;
}

.close2 {
    color: #1a4d91;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}