body{
    padding: 0;
    border: 10px solid rgb(124, 134, 31);
    //margin: 10px;  
}
h1{
    text-align: center;
    background-color: blueviolet;
    padding: 10px;
}

#div1{
    width: 100%;
}

.pic{
    height: 300px;
    width: 49.7%;
    position: relative;
}

.pic1{
    height: 100px;
    width: 25%%;
    position: relative;
}

.information{
    width: 100%;
}

.text1{
    display: inline-block;
    width: 25%;
    padding: 30px;
    padding-bottom: 50px;
}

.info-1{
    padding : 0px 20px;
    float: left;
    width: 50%;
}

.info-2{
    
}

.tag1{
    //margin-top: 30px;
    position: relative;
    bottom: 30px;
    margin-left: 10px;
}

@media screen and (max-width: 900px){
    .pic{
        width: 100%;
    }
}

@media screen and (max-width: 1200px){

    .information{
        margin : auto;
        height: 700px;
    }   

    .info-1{
        margin : auto;
        width: 80%;
        margin : 0px 40px;
        //border : 5px solid red;

    }

    .info-2{
        margin : auto;
        width: 80%;
        margin : 0px 40px;
        //border : 5px solid rgba(60, 43, 121, 0.212);

    }

    .pic1{
        width: 50%
    }

}

@media screen and (max-width: 1200px){
        .text1{
            display: block;
        }

}