

 body {
 	font-family: sans-serif;
 	padding-left: 80px;
 	padding-right: 80px;
 }
.header{
	background-color: gray;
}

#Head-know{
	color: red;
}
.headertop{
	padding-bottom: 6px;
	background-color: purple;
	width: 100%;
	height: 50px;
	
}

#headerInfo{
	margin-left: 10px;
	margin-top: 1000px:;
	color : white;
	float: left;
}

#Head-know{
	color : #9E9E9E;
}

#callbox{
	//border: solid 5px;
	left: 800px;
	float : right;
	//width: 100px;
	padding : 0px;
}

#flag{
	margin : 15px;
}

#flagbox{
	//border: solid 5px;
	float : right;
	//margin: 10px;
	margin-left: 20px;
	margin-right: 10px;
	//left : 900px;
}

#callUs{
	height: 15px;
	width: 15px;
	color : white;
	margin : 15px;
	float: left;
}

#flagdrop{
	margin-top: 17px;
	top : 10px;
	margin-right: 20px;
}

#callDrop{
	margin-top: 17px;
	top : 20px;
}


#callText{
	color : white;
	top: 0;
	float : left;
	margin-right: 10px;

}

#flag{
	float: left;
}
#eng{
	color : white;
	margin-right : 10px;
	margin-bottom: 10px;
	float: left;
}

#logo{
	float: left;
	margin-right: 20px;
}

#navigation-bar{
	padding-left: 435px;
	float: left;
	padding-top: 25px;	
	margin-left: 15px;
}

#profile-pic{
	padding-top: 5px;
    padding-left: 50px;
    margin-right: 10px;
    margin-top: 14px;
    float: left;
}

#profile-info{
	margin-top: 20px;
	padding-left: 5px;
	float: left;
}

#plantravel{
	font-weight: bold;
	color : purple;
}

#travelinfo{
	font-weight: bold;
	color: purple;
}

#club{
	border-bottom: 1px solid black;
	font-weight: bold;
	color: purple;
}

#ProfileDrop{
	margin-left: 20px;
	margin-top: 25px;
}

#p1{
	font-weight: bold;
	padding-bottom: -20px;
	color: purple;
}

#p2{
	font-weight: bold;	
	color: purple;
}

#plantravel{
	margin-right: 20px;
}

#travelinfo{
		margin-right: 20px;

}

#purple-strip{
	height: 110px;
	background-image:  url("Assets/Purple-strip.png");
}

#dashboard{
	color:purple;
}

#dash1{
	float: left;
	padding-top: 25px;
	padding-right: 100px;
	padding-bottom: 43px;
    border-right: 1px solid white;
}

#dash2{
	float: left;
    margin-top: 12px;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 15px;
    border-right: 1px solid white;
}

.ram1{
	color: white;
	font-size: 20px;
}

.ram2{
	color: white;
}

#purple1{
	
	
}

 #h11{
 	border-right: 5px solid red;
 }
#purple2{
	
}

#purple3{
	//float: right;
}

#dash3{
	padding-top: 25px;
	float: left;
}

#Silver{
	color: #656060;
	margin-top: 20px;
	font-style: bold;
	font-size: 20px;
	float: left;
}

#Point{
	color: #656060;
	margin-top: 20px;
	font-style: bold;
	font-size: 20px;
	margin-left: 840px;
}

#purple11{
	background-image: url("Assets/Silver-card.png");
	height: 260px;
	width: 400px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-size: 400px 260px;
}

#purple111{
	font-style: bold; font-size: 35px; margin-left: 35px;color: white;padding-bottom: 35px
}

#purple112{
	margin-left: 35px;color: white;
}

#purple113{
	color: purple;margin-left: 35px;font-style: bold;
}

#purple12{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 260px;
	width: 400px;
	float: left;
	background-image: url("Assets/Silver-card.png");
	background-size: 400px 260px;
}

#purple121{
	color: white;padding-top 40px;margin-left: 22px;font-size: 20px;
}

#purple13{
	background-image: url(Assets/Golden-card.png);
     height: 260px; 
    width: 505px;
    margin-left: 840px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#current-tier{
	float: left;
    margin-left: 10px;
    /* margin-right: 100px; */
    padding-right: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#golden{
	margin-top: 15px;
	background-image: url("Assets/Golden-strip.png");
	height: 100px;
}

#golden1{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

#golden2{
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}