body{
    margin: 0;
    padding: 0;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Container{
    /* background-image: url("https://c.tribune.com.pk/2017/07/1456846-got-1499922339-581-160x120.jpg");
    background-repeat: no-repeat; */

    border: 10px solid darkgray;
    background-color: #58303014;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
}
h2{
    border   : 2px solid rgb(82, 36, 36);
    background-color: rgba(98, 32, 151,0.3);
    text-align: center;
    margin: 20px auto;
    width : 80%;
}

#formDiv{
    display: flex;
    justify-content: center;
}

#form1{
    border: 2px solid rebeccapurple;
    background-color: #fff70029
}

.label1{
    margin: 10px 30px;
}

.input1{
    margin: 10px 30px 10px 30px;
}

.input2{
    margin: 10px 5px 10px 10px;
}

.input3{
    margin : 10px 5px 10px 30px;
}

.label2{
    margin-left: 0px;
    margin-right: 30px;
}

.sex1{
    margin : 0px 70px 0px 30px;
}

.checkbox1{
    margin-left : 30px;
}

#submit{
    margin: 0px 0px 20px 30px;
    color: white;
    border: none;
    background-color: rgb(33, 77, 90);
    border-radius: 20%;
    width: 100px;
    height: 30px;

}


.container {
    left : -50px;
    display: inline-block;
    width: 70px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    margin : 10px 0px;
    padding-top : 5px;
    -webkit-user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(61, 60, 131, 0.35);
    border-radius: 50%;
}

input:checked ~ .checkmark {
    background-color: rgb(37, 23, 99);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
    background: white;
 }

